<div class="container mt-5 mb-5 register" id="container">
	<div class="sign-up-container">
    <form  [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
			<h1>Register</h1>
      <label for="name" class="name">name :</label>
        <input formControlName="name" type="name" class="form-control mb-2 " id="name">
        <div *ngIf="loginForm.get('name')?.errors &&  loginForm.get('name')?.touched" class="alert alert-danger p-1 width">
            <p *ngIf="loginForm.get('name')?.getError('required')" class="m-0 ">name is Required</p>
        </div>
			<label for="email" class="email">email :</label>
        <input formControlName="email" type="email" class="form-control mb-2 " id="email">
        <div *ngIf="loginForm.get('email')?.errors &&  loginForm.get('email')?.touched" class="alert alert-danger p-1 width">
            <p *ngIf="loginForm.get('email')?.getError('email')" class="m-0 ">email is invalid</p>
            <p *ngIf="loginForm.get('email')?.getError('required')" class="m-0 ">email is Required</p>
        </div>
        <label for="password" class="password">password :</label>
        <input formControlName="password" type="password" class="form-control mb-2" id="password">
        <div *ngIf="loginForm.get('password')?.errors &&  loginForm.get('password')?.touched" class="alert alert-danger p-1 width">
            <p *ngIf="loginForm.get('password')?.getError('pattern')" class="m-0 ">the password is  the minLength is 6</p>
            <p *ngIf="loginForm.get('password')?.getError('required')" class="m-0 ">password is Required</p>
        </div>
        <div *ngIf="massError" class="alert alert-danger p-1 width">
          {{massError}}
        </div>
			<button class="p-0 text-center w-50"
      [disabled]="loginForm.invalid"
          mat-raised-button>
        <p *ngIf="!isLoading" class="me-4 ms-4 mt-2 mb-2">Sign Up</p>
        <div *ngIf="isLoading" class="spinner-border" role="status">
          <span class="sr-only"></span>
        </div>
      </button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<a routerLink="/login" ><button class="ghost" id="signIn"
          >Sign In</button></a>
			</div>
		</div>
	</div>
</div>

