<div class="container mt-5 mb-5 login" id="container">
	<div class="form-container sign-in-container">
		<form  [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
			<h1>Sign in</h1>

			<label for="email" class="email">email :</label>
        <input formControlName="email" type="email" class="form-control mb-2 " id="email">
        <div *ngIf="loginForm.get('email')?.errors &&  loginForm.get('email')?.touched" class="alert alert-danger p-1 ">
            <p *ngIf="loginForm.get('email')?.getError('email')" class="m-0 ">email is invalid</p>
            <p *ngIf="loginForm.get('email')?.getError('required')" class="m-0 ">email is Required</p>
        </div>
        <label for="password" class="password">password :</label>
        <input formControlName="password" type="password" class="form-control mb-2" id="password">
        <div *ngIf="loginForm.get('password')?.errors &&  loginForm.get('password')?.touched" class="alert alert-danger">
            <p *ngIf="loginForm.get('password')?.getError('required')" class="m-0 ">password is Required</p>
        </div>
        <div *ngIf="massError" class="alert alert-danger p-1 width">
          {{massError}}
        </div>
        <a href="" class="w-100">
          <button class="p-0 text-center "
          [disabled]="loginForm.invalid"
              mat-raised-button >
            <p *ngIf="!isLoading" class="me-4 ms-4 mt-2 mb-2">Sign In</p>
            <div *ngIf="isLoading" class="spinner-border" role="status">
              <span class="sr-only"></span>
            </div>
          </button>
        </a>

		</form>

	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<a routerLink="/register"><button class="ghost" id="signUp">Sign Up</button></a>
			</div>
		</div>
	</div>
</div>
